@page "/login"

<PageTitle>Login</PageTitle>

<h1>Counter</h1>


<Blazorise.Field>
    <label>Brukernavn</label>
    <input>
    <InputText type="username" placeholder="Username" />
</Blazorise.Field>

<p>Brukernavn</p>
<input>
    <InputText type="username" placeholder="Username"/>
<label>Password</label>
<input>
    <InputText type="password" placeholder="Password"/>

<button class="btn btn-primary" >ER DETTE PÅ NETTSIDEN??? ja  </button>


@code {
    class Login{

    }
}