@page "/turbines"
@inject HttpClient Http

<PageTitle>Turbine State</PageTitle>

<h1>Turbine State</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Turbines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Capacity Usage</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var turbine in Turbines)
            {
                <tr>
                    <td>@turbine.Id</td>
                    <td>@turbine.CapacityUsage</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Turbine[]? Turbines;

    protected override async Task OnInitializedAsync()
    {
        var url = "/api/Turbines";

        Turbines = await Http.GetFromJsonAsync<Turbine[]>(url);
    }

    public class Turbine
    {
        public string Id { get; set; }

        public double CapacityUsage { get; set; }
    }
}

